<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {#<meta name="viewport" content="width=device-width; initial-scale=1.0">#}
        <title>{% block title %}Приморье 3D{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/dest/main.min.css') }}?v=2">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
