{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <header>
        <div class="menu">
            <ul>
                <li><a href="#costs">Стоимость</a></li>
                <li><a href="#examples">Примеры</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </header>
    <div id="examples" class="pane">
        <div class="container">
            <div style="min-width:260px; width: 30%; height: 350px; background-color: #1a1a1a;display: inline-block;margin-right: 20px"></div>
            <div class="example-info">
                <h2>Виртуальный тур</h2>
                Способ реалистичного отображения трехмерного многоэлементного пространства на экране. Элементами виртуального тура, как правило, являются сферические панорамы, соединенные между собой интерактивными ссылками-переходами (хотспотами). Часто в виртуальный тур также включают цилиндрические панорамы, реже — виртуальные 3D-объекты и обыкновенные фотографии.
                <br />
                <br />
                <a class="button_link" href="#">Заказать</a>
            </div>
        </div>
    </div>
    <div id="info" class="pane">
        <div class="container">
            <div class="info-block">
                <h3>СЪЕМКА</h3>
                <ul>
                    <li>
                        <span>Выезд фотографа на объект</span>
                    </li>
                    <li>
                        <span>Использование профессионального оборудования</span>
                    </li>
                    <li>
                        <span>Съемка в формате HDR</span>
                    </li>
                </ul>
                <h3>СБОРКА ПАНОРАМЫ</h3>
                <ul>
                    <li>
                        <span>Сборка панорамного изображения (360 градусов, с полом и потолком)</span>
                    </li>
                    <li>
                        <span>Контроль качественного соединения кадров в панораме</span>
                    </li>
                </ul>
            </div>
            <div class="info-block">
                <h3>POST-PRODUCTION</h3>
                <ul>
                    <li>
                        <span>Цифровая обработка изображений (цветокоррекция, контраст, яркость)</span>
                    </li>
                    <li>
                        <span>Профессиональная ретушь изображения (удаление отражения и тени от штатива, монтаж фонов в окнах, монтаж изображения на TV или проекциях, удаление людей из кадра)</span>
                    </li>
                    <li>
                        <span>Ретушь нежелательных элементов (провода, знаки «вход/выход», камер наблюдения, сигнализация)</span>
                    </li>
                    <li>
                        <span>Улучшение внешнего вида (ретушь дефектов: трещины, грязь, пятна и т.д.)</span>
                    </li>
                </ul>
            </div>
            <div class="info-block">
                <h3>ПРОГРАММИРОВАНИЕ</h3>
                <ul>
                    <li>
                        <span>Установка собственного интерфейса тура, с профессиональным дизайном</span>
                    </li>
                    <li>
                        <span>Возможность вставки логотипа заказчика</span>
                    </li>
                </ul>
                <h3>ИСПОЛЬЗОВАНИЕ</h3>
                <ul>
                    <li>
                        <span>Предоставление короткой ссылки для установки тура на сайт клиента</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="costs" class="pane">
        <div class="container">
            <div class="title-wrapper">
                <div class="title">
                    <span class="title-main">Начните свой тур-проект с нами</span>
                    <span class="title-sub">профессиональный подход на всех этапах работы, гарантия высокого качества.</span>
                </div>
            </div>
            <ul>
                <li>
                    <div class="cost-container cost-red">
                        <div class="cost-per-dot em-low">
                            <span class="rub">Р</span><span class="rub-part">-</span> <span class="price em-low">700</span>
                        </div>
                        <div class="per">за точку</div>
                        <div class="description">
                            <h3>Light</h3>
                            <span class="main">
                                Съёмка от 1 до 3 панорам (точек)
                            </span>
                            <span class="additional">
                                Бесплатная установка на Ваш сайт
                            </span>
                            <span class="additional">
                                Одна панорама в подарок
                            </span>
                            <div style="height: 27px">
                            </div>
                            <a class="button_link" href="#">Заказать</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cost-container cost-blue">
                        <div class="cost-per-dot em-low">
                            <span class="rub">Р</span><span class="rub-part">-</span> <span class="price em-low">500</span>
                        </div>
                        <div class="per">за точку</div>
                        <div class="description">
                            <h3>Medium</h3>
                            <span class="main">
                                Съёмка от 5 до 9 панорам (точек)
                            </span>
                            <span class="additional">
                                Бесплатная установка на Ваш сайт
                            </span>
                            <span class="additional">
                                Одна панорама в подарок
                            </span>
                            <div style="height: 27px">
                            </div>
                            <a class="button_link" href="#">Заказать</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cost-container cost-orange">
                        <div class="cost-per-dot em-low">
                            <span class="rub">Р</span><span class="rub-part">-</span> <span class="price em-low">300</span>
                        </div>
                        <div class="per">за точку</div>
                        <div class="description">
                            <h3>XXXL</h3>
                            <span class="main">
                                Съёмка от 10 панорам (точек)
                            </span>
                            <span class="additional">
                                Бесплатная установка на Ваш сайт
                            </span>
                            <span class="additional">
                                Одна панорама в подарок
                            </span>
                            <span class="additional">
                                Фотограф в рабство на неделю
                            </span>
                            <a class="button_link" href="#">Заказать</a>
                        </div>
                    </div>
                </li>
                <li class="helper"></li>
            </ul>
        </div>
    </div>
    <footer id="contacts">
        <div class="container">
            Приморье 3D - сертифицированные фотографы
        </div>
    </footer>
{% endblock %}
