<div class="disable-screen"></div>
<div class="order">
    <h2>Заказ</h2>
    <form class="order__form" action="#">
        <label class="order__form-item" for="name">Имя</label>
        <input class="order__form-item-element" type="text" name="name" id="name">
        <label class="order__form-item" for="phone">Телефон</label>
        <input class="order__form-item-element" type="text" name="phone" id="phone">
        <a class="button_link blue order__form-btn" href="#">Заказать</a>
    </form>
</div>