<div class="disable-screen"></div>
<div class="order">
    <div class="order__header">
        <h2 class="order__title">Заказ</h2>
        <div class="order__close">x</div>
    </div>
    <form class="order__form" action="#">
        <div class="order__form-error">
        </div>
        <label class="order__form-item" for="name">Ваше имя</label>
        <input class="order__form-item-element" type="text" name="name" id="name" required>
        <label class="order__form-item" for="phone">Ваш телефон</label>
        <input class="order__form-item-element" type="text" name="phone" id="phone" required>
        <label class="order__form-item" for="description">Описание заказа</label>
        <textarea class="order__form-item-element order__form-item-element-description" rows="9" cols="9" name="description" id="description">asdsdsa</textarea>
        <a class="button_link blue order__form-btn" href="#">Заказать</a>
    </form>
    <div class="order__loader">
        <img class="order__loader-image" src="{{ asset('i/ajax-loader.gif') }}" alt="order-loader">
        <div class="order__loader-title">Давайте жить, пока мы живы.<br />
            © Иоганн Вольфганг Гете</div>
    </div>
</div>
